:root {
    --primary-color: hsl(171, 100%, 41%);
    --info-color: hsl(217, 71%, 53%);
    --success-color: hsl(141, 71%, 48%);
    --warning-color: hsl(48, 100%, 67%);
    --danger-color: hsl(348, 100%, 61%);
    --default-color: hsl(0, 0%, 4%);
}


@font-face {
    font-family: 'anaander';
    src: url('../resources/anaander-webfont.woff2') format('woff2'),
         url('../resources/anaander-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes highlighting {
	0% {
    	outline-color: black;
        box-shadow: 0 0 0 1px white;
    }
	50% {
    	outline-color: white;
        box-shadow: 0 0 0 1px black;
    }
	100% {
    	outline-color: black;
        box-shadow: 0 0 0 1px white;
    }
}

@keyframes jello-vertical {
  0% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.07, 1.07);
  }
  40% {
    transform: scale(0.96, 1.2);
  }
  50% {
    transform: scale(1.2, 0.96);
  }
  65% {
    transform: scale(1, 1.13);
  }
  80% {
    transform: scale(1.09, 1.05);
  }
  90% {
    transform: scale(1.05, 1.09);
  }
  100% {
    transform: scale(1.07, 1.07);
  }
}

.is-primary {
    color: var(--primary-color);
}

.is-info {
    color: var(--info-color);
}

.is-success {
    color: var(--success-color);
}

.is-warning {
    color: var(--warning-color);
}

.is-danger {
    color: var(--danger-color);
}

.is-default {
    color: var(--default-color);
}

.board {
    position: fixed;
    box-sizing: border-box;
}

#board {
    transition-property: top, left, color, opacity, transform;
    transition-duration: 0.3s, 0.3s, 0.3s, 0.3s, 0.3s;
    transition-timing-function: ease-out;
}

.terrain {
    position: absolute;
    width: 43px;
    height: 43px;
    transition-property: color, background-color, border-color;
    transition-duration: 0.6s, 0.6s, 0.6s;
    transition-timing-function: ease-out;
}

.terrain:hover {
    outline: black dashed thin;
}

.terrain.selected {
    outline: black dashed thin;
    animation: highlighting 1s linear infinite;
}

.meeple {
    position: absolute;
    transition-property: top, left, color, opacity, transform;
    transition-duration: 0.3s, 0.3s, 0.3s, 0.3s, 0.3s;
    transition-timing-function: ease-out;
}

.player {
    position: relative;
    transform: scale(0.93, 0.93);
    transition-property: top, left, color, opacity, transform;
    transition-duration: 0.3s, 0.3s, 0.3s, 0.3s, 0.3s;
    transition-timing-function: ease-in;
}

.current-player {
    animation: jello-vertical 0.5s both;
}

.artifact {
    font-family: anaander;
    font-size: 24px;
    color: grey;
}
